html {
	scroll-behavior: smooth;
}

.container {
	padding: 0 clamp(0.625rem, 0.443rem + 0.91vw, 1.875rem);
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
}

#smooth-content {
	height: 100vh;
	min-height: 100%;
}

.delimiter {
	margin-top: 30px;
	height: 1px;
	width: 100%;
	background-color: var(--page-bg);
}

.subtitle {
    font-size: clamp(1.25rem, 1.068rem + 0.91vw, 2.5rem);
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.progress-bar {
	background: linear-gradient(90deg, hsla(180, 94%, 21%, 1) 0%, hsla(182, 44%, 34%, 1) 0%, hsla(179, 53%, 31%, 1) 0%, hsla(177, 71%, 27%, 1) 10%, hsla(173, 57%, 33%, 1) 20%, hsla(170, 46%, 38%, 1) 30%, hsla(166, 38%, 45%, 1) 40%, hsla(162, 34%, 50%, 1) 49%, hsla(157, 37%, 56%, 1) 59%, hsla(153, 41%, 62%, 1) 70%, hsla(148, 47%, 68%, 1) 80%, hsla(142, 56%, 74%, 1) 90%, hsla(142, 56%, 74%, 1) 100%, hsla(142, 56%, 80%, 1) 100%);
	width: 85%;
	border-radius: 15px;
	box-shadow: 5px 11px 10px -3px rgba(0,0,0,0.1);
	height: 10px;
	align-self: center;
}
