:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: sans-serif;
	--font-accent: 'Manrope', sans-serif;
	--font-titles: var(--font-accent);
	--page-bg: #FCF9F2;
	--text-color: #181817;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
	--page-bg: #181817;
    --text-color: #FCF9F2;
}