:root {

	--font-titles: var(--font-accent);
	--page-bg: #FCF9F2;
	--text-color: #181817;
	--accent: #d7b345;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
	--page-bg: #181817;
    --text-color: #FCF9F2;
}