.education {
    padding-left: 20px;

    @include tablet() {
        padding-left: 9px;
        margin-bottom: clamp(3.75rem, 3.499rem + 1.26vw, 5.625rem);
    }

    @include mobile() {
        padding-left: 0;
    }
}

.education__title {
    font-size: clamp(1.688rem, 1.662rem + 0.13vw, 1.875rem);
    font-weight: 600;
    margin-bottom: 15px;
}

.education__subtitle {
    font-size: clamp(1.563rem, 1.546rem + 0.08vw, 1.688rem);
    font-weight: 500;
    margin-bottom: 10px;
}
 
.education__place {
    font-size: clamp(1.375rem, 1.358rem + 0.08vw, 1.5rem);
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 10px;
}

.education__institute {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 600px;
}

.education__course {
    font-size: 20px;
    margin-bottom: 5px;
}