.fifth-project {
    padding-bottom: 30px;
}

.fifth-project__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;

    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

.fifth-project__photo-wrapper {
    justify-content: center;
    padding-left: 11vw;

    @include tablet {
        padding-left: 0;
    }
}

.fifth-project__photo {
    width: 19vw;


    @include tablet {
        width: 60vw;

    }

    @include mobile {
        width: 70vw;
    }
}