 .swiper {
    width: 85vw;
}

.swiper-wrapper {
    padding-bottom: 40px; 
}

.swiper-slide {
    width: 70vw;
}

.swiper-button-next  {
    color: var(--text-color) !important;
}

.swiper-button-prev {
    color: var(--text-color) !important;
}

.swiper-pagination-bullet-active  {
    background-color: var(--text-color) !important;
}

